extends layout.pug
block content
  .about
    ul
      li
        | Hello my name is
        span.bold  Kyle Shrote
      li
        | I am a
        span.bold  Web Developer
      li
        | based in
        span.bold  Ft Laudy, Florida
      li
        span.bold About
        br
        | A billionaire industrialist and genius inventor, Tony Stark (Robert Downey Jr.), is conducting weapons tests overseas, but terrorists kidnap him to force him to build a devastating weapon. Instead, he builds an armored suit and upends his captors. Returning to America, Stark refines the suit and uses it to combat crime and terrorism.
    p
      | I want to
      span.bold
        a(href='/')  Search
      |  for a movie
