doctype html
html(lang='en')
  head
    title Film Finder
    link(rel='stylesheet', href='./stylesheets/main.css')
  body
    include includes/header.pug
    block content
    include includes/footer.pug
